/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

header h1 {
  margin-top: 66px !important;
  margin-bottom: 20px !important;
}

#header-bar {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 70px;
  transition: all ease 0.4s;
  background-color: #183d4e;
}

@media only print {
  #header-bar {
    display: none;
  }
}

body.white #header-bar.playground-hidden {
  /*border-bottom: 1px solid rgba(0,0,0,.4);*/
  background-color: #183d4e;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

#lang-selection {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 500px);
}

#lang-selection button {
  background: rgba(255,255,255,.8);
  box-shadow: 0 1px 1.5px 0 rgba(255,255,255,.12),0 1px 1px 0 rgba(255,255,255,.24);
}

#lang-selection button:hover {
  background: rgba(255,255,255,.2);
}

#color-selection {
  color: white;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 300px);
}

#color-selection .callout.toggle-button {
  position: absolute;
  top: 5px;
  left: 60px;
}

#color-selection .callout.toggle-button svg {
  position: absolute;
  top: -10px;
  left: -15px;
  width: 30px;
  height: 30px;
}

#color-selection .callout.toggle-button .label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.38em;
  margin: 0;
  color: #ddd;
  font-style: italic;
  width: 120px;
}

#playground-toggler {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  z-index: 1001;
}

#playground-toggler button {
  background: rgba(255,255,255,.8);
  box-shadow: 0 1px 1.5px 0 rgba(255,255,255,.12),0 1px 1px 0 rgba(255,255,255,.24);
}

#playground-toggler button:hover {
  background: rgba(255,255,255,.2);
}

#playground-toggler .callout.toggle-button {
  position: absolute;
  top: 17.5px;
  left: 80px;
}

#playground-toggler .callout.toggle-button svg {
  position: absolute;
  top: -10px;
  left: -15px;
  width: 30px;
  height: 30px;
}

#playground-toggler .callout.toggle-button .label {
  position: absolute;
  top: 0px;
  left: 24px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.38em;
  margin: 0;
  color: #ddd;
  font-style: italic;
  width: 200px;
}

#additional-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #183D4E;
  color: rgba(255, 255, 255, 0.7);
}

@media only print {
  #additional-content {
    position: initial;
    top: initial;
    left: initial;
    height: initial;
  }
}


#additional-content.pushback {
  z-index: -1;
}

body.white #additional-content {
  color: #333;
  background-color: white;
}

body.white #additional-content #additional-content-body .text-content a {
  color: #ff4081;
}

#additional-content-body {
  margin-top: 80px;
  height: calc(100% - 100px);
  overflow-y: scroll;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 0 20px 0 20px;
  transition: all ease 0.4s;
  font-family: "Noto Sans Japanese";
}

@media only print {
  #additional-content-body {
    margin-top: initial;
    height: unset;
    overflow-y: unset;
  }
}

#additional-content-body p {
  font-size: 16px;
  font-family: "Noto Sans Japanese";
}

#additional-content-body ul {
  font-size: 16px;
}

.doc-header {
  margin-bottom: 20px;
}

.doc-header::after {
  clear: both;
  content: '';
  display: table;
}

@media only print {
  .doc-header > a, .doc-header > span {
    display: none;
  }
}

#additional-content-body.hide {
  opacity: 0;
}

#additional-content-body .text-content {
  transition: all ease 0.3s;
}

#additional-content-body .text-content h2 {
  font-size: 150%;
}

#additional-content-body .text-content h3 {
  font-size: 110%;
  font-weight: bold;
}

#additional-content-body .text-content a {
  color: white;
}

#additional-content-body .text-content table {
  font-size: 16px;
  font-family: "Noto Sans Japanese";
}

#additional-content-body .text-content table td {
  padding: 3px;
}

#additional-content-body .text-content details {
  font-size: 16px;
  margin-bottom: 16px;
}

#additional-content-body .text-content details summary {
  cursor: pointer;
}

#additional-content-body .text-content.hide {
  display: none;
}

#additional-content-body .text-content-fragment img {
  padding: 10px;
}

#additional-content-body #img-backprop, #img-regularization{
  transition: all ease 0.4s;
  cursor: pointer;
}

#additional-content-body #img-backprop:hover, #img-regularization:hover {
  background-color: black;
  opacity: 0.2;
}

#additional-content-body details#regard-nn-as-func {
  padding-left: 40px;
}

#additional-content-body details#regard-nn-as-func summary {
  margin-bottom: 10px;
}

#additional-content-body details#chain-rule {
  padding-left: 40px;
}

#additional-content-body details#chain-rule summary {
  margin-bottom: 10px;
}

#additional-content-body table#input-features {
  font-size: 16px;
  border-collapse: collapse;
  margin-bottom: 15px;
}

#additional-content-body table#input-features thead tr td {
  border-bottom: 1px solid gray;
}

#additional-content-body table#input-features tbody tr td {
  border-bottom: 1px solid gray;
}

#additional-content-body .text-content-fragment + .text-content-fragment {
  margin-top: 40px;
}

#additional-content-body .text-content-fragment i {
  font-size: 16px;
  color: gray;
}

body.white #additional-content-body .pager a {
  color: #ff4081;
}

#additional-content-body .pager a {
  color: white;
}

#additional-content-body .pager {
  font-size: 14px;
}

#additional-content-body .pager + .pager {
  margin-top: 7px;
}

table#input-dataset-table {
  border-collapse: collapse;
}

table#input-dataset-table tbody td {
  border-top: 1px solid gray;
}

table#input-dataset-table thead tr td:nth-child(2) {
  border-left: 1px solid gray;
}

table#input-dataset-table .input-classification td {
  border-top: 1px solid gray;
  padding: 7px;
}

table#input-dataset-table .dataset-graph {
  text-align: center;
  border-left: 1px solid gray;
}

table#input-dataset-table .input-regression td {
  padding: 7px;
}

table.activators{
  border-collapse: collapse;
  table-layout: fixed;
}

table.activators thead td{
  border-bottom: 1px solid gray;
  white-space: nowrap;
  width:1px;
  padding: 10px !important;
}

table.activators thead td:nth-child(2) {
  padding-left: 20px;
}

table.activators td {
  white-space: nowrap;
  width:1px;
  padding: 0 10px 0 10px !important;
}

table.activators tr:not(:last-child) td {
  border-bottom: 1px solid gray;
}

table.activators td:not(:last-child) {
  border-right: 1px solid gray;
}

table.activators span.mjx-chtml {
  margin-left: 0 !important;
}

#post-date {
  float: left;
  height: 30px;
  line-height: 30px;
}

#post-date i, 
#post-date span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  font-size: 24px;
}

#post-date span {
  margin-left: 10px;
}

#author {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

#author i, 
#author span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  font-size: 24px;
}

#author span {
  margin-left: 10px;
}

.centering {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.playground-screenshot {
  width: 800px;
}

#playground-content {
  visibility: hidden;
  background-color:#f7f7f7 ;
  z-index: 1000;
  padding-bottom: 1px;
}

#img-backprop {
  width: 800px;
}

@media only print {
  #reference-part,
  #summary-part,
  #about-learning-in-nn-part,
  #inputdata-part,
  #feature-part,
  #backpropagation-part
  {
    page-break-before: always;
  }
}
